@import url(https://fonts.googleapis.com/css?family=Roboto:400italic);
html{
	margin: 0;
	padding: 0;
}
body{
	background-image: url(./images/devs.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
a, small {
	text-decoration: none;
	color: lightblue;
	font-family: 'Roboto', sans-serif;
}
img.hoverImages {
	margin:20px;
	padding:3px;
	outline:2px solid #DDD;
	border:#a1a1a1;	
	float:left;
	-webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}
 
img.hoverImages:hover {
	cursor:pointer;
    margin-top: 5px;
}